*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif", arial;
}

body{
    background: linear-gradient(295deg, #2A7B9B 0%, #57C785 50%, #EDDD53 100%);
}

.container_body{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem auto;
}

section,.section{
    padding: 1rem 1rem;
}

