
main .portifolio h2{
    padding: .5rem 0; 
}

main .portifolio .projeto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
}

main .portifolio .projetos{
    padding: .5rem 1rem;
}

main .portifolio .projetos p{
    padding: .2rem 1rem;
}

main .portifolio .projetos a{
    padding: 1rem 1rem;
    text-decoration: none;
    color: rgb(22, 121, 104);
}

main .portifolio .projetos a:hover{
    text-decoration: underline;
}


