

main .portifolio{
    padding: 0 1rem;
}

main .portifolio h2{
    padding: .5rem 0; 
}

main .portifolio .projeto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
}

main .portifolio .projetos{
    padding: .5rem 1rem;
}

main .portifolio .projetos p{
    padding: .2rem 1rem;
}



