
main .content-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main h2{
    padding-bottom: 1rem;
}

main .sobre,.skills{
    padding: .5rem;
}

main .sobre{
    text-align: center;
}

main .sobre p{
    line-height: 1.5;
    text-indent: 1rem;
}

main .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .skills ul{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

main .skills ul li{
    list-style: none;
}

main .skills img{
    width: 60px;
    height: 60px;
}

main .skills img:hover{
    background-color: #ffffff4d;
    padding: .5rem;
    border-radius: .2rem;
    transition: 1s;
}


